.sectionWrapper {
    padding: 0px 30px 60px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.hrLine {
    height: 1px;
    border-color: var(--color-primary);
    background-color: var(--color-primary);
    /* Adding this line for older browsers */
}